.resource-input {
    display: flex;
    flex-direction: column;
    gap: 6px 0;
    justify-content: center;
    width: 100px;
}

.resource-input.compact {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0 6px;
    width: 40px;
}

.col.middle .resource-input {
    width: unset;
}

.resource-input.compact input {
    width: 40%;
    height: 30px;
    font-size: 20px;
    margin: 2px;
    min-width: 40px;
    padding-inline: 1px;
}

.resource-input.compact input.fs-s {
    font-size: 14px;
}

.resource-input.compact input.fs-xs {
    font-size: 10px;
}

.resource-input input:disabled {
    color: #aaa;
}

#token-hud .attribute.left-bars {
    position: absolute;
    right: 100%;
    z-index: -1;
}

#token-hud .attribute.right-bars {
    position: absolute;
    left: 100%;
    z-index: -1;
}

#token-hud .attribute.bar1 {
    position: absolute;
    top: calc(100% - 44px);
    height: fit-content;
}

#token-hud .attribute.bar2 {
    position: absolute;
    top: 44px;
    height: fit-content;
    transform: translateY(-100%);
}

input.indent-input {
    text-align: right;
    width: 32px;
    margin-right: 1px;
}

.token-resources {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.token-resources .bb-bar-container {
    overflow-y: auto;
    overflow-x: visible;
}

.token-resources label {
    white-space: nowrap;
}

.token-resources nav {
    row-gap: 0.25rem;
}

.token-resources nav > span {
    white-space: nowrap;
}

.token-resources .sep {
    margin: 0;
    flex: 0;
}

.token-resources nav.sheet-tabs {
    flex-wrap: wrap;
}

a[data-group="bars"] {
    border-image: linear-gradient(to right, var(--bar-min-color) 0%, var(--bar-max-color) 100%) 1;
    border-bottom-width: 3px;
    border-bottom-style: solid;
}

a[data-action="addBar"] {
    white-space: nowrap;
}

.bb-form-field-col > label {
    display: inline-block;
    width: 100%;
}

.bar-controls #context-menu {
    text-align: left;
    bottom: calc(100% + 2px);
    top: unset;
    pointer-events: all;
}

.bar-controls #context-menu .context-item {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}