<div class="tab about {{tabs.about.cssClass}}"
     data-group="primary"
     data-tab="about">
    <div class="about-section-header"></div>

    <div class="dg-about-links flex horizontal-flex-column">
        <a href="https://github.com/deltagreen-foundryvtt/delta-green-foundry-vtt-system/blob/master/documentation/home.md"
           target="_blank"
           rel="noopener"
           data-tooltip="{{localize 'DG.About.OnlineHelpTooltip'}}">
            <i class="fas fa-question-circle" inert></i>
            <span>{{localize 'DG.About.OnlineHelp'}}</span>
        </a>
        <a href="https://github.com/deltagreen-foundryvtt/delta-green-foundry-vtt-system/issues"
           target="_blank"
           rel="noopener"
           data-tooltip="{{localize 'DG.About.OnlineBugTrackerTooltip'}}">
            <i class="fas fa-bug" inert></i>
            <span>{{localize 'DG.About.OnlineBugTracker'}}</span>
        </a>
        <a href="https://github.com/deltagreen-foundryvtt/delta-green-foundry-vtt-system/blob/master/CHANGELOG.md"
           target="_blank"
           rel="noopener"
           data-tooltip="{{localize 'DG.About.Changelogtip'}}">
            <i class="fas fa-plus-circle" inert></i>
            <span>{{localize 'DG.About.Changelog'}}</span>
        </a>
    </div>

    <div class="dg-about-legal">
        <p>{{localize 'DG.About.Copyright'}}</p>
        <p>{{{localize 'DG.About.License'}}}</p>
    </div>
</div>
