<div class="tab about {{tabs.about.cssClass}}"
     data-group="primary"
     data-tab="about">
    <div class="about-section-header"></div>

    <div class="flex horizontal-flex-column">
        <div>
            <a class="fas fa-question-circle"
               title="{{localize 'DG.About.OnlineHelpTooltip'}}"
               href="https://github.com/deltagreen-foundryvtt/delta-green-foundry-vtt-system/blob/master/documentation/home.md">
                {{localize 'DG.About.OnlineHelp'}}
            </a>
        </div>
        <div>
            <a class="fas fa-bug"
               title="{{localize 'DG.About.OnlineBugTrackerTooltip'}}"
               href="https://github.com/deltagreen-foundryvtt/delta-green-foundry-vtt-system/issues">
                {{localize 'DG.About.OnlineBugTracker'}}
            </a>
        </div>
        <div>
            <a class="fas fa-plus-circle"
               title="{{localize 'DG.About.Changelogtip'}}"
               href="https://github.com/deltagreen-foundryvtt/delta-green-foundry-vtt-system/blob/master/CHANGELOG.md">
                {{localize 'DG.About.Changelog'}}
            </a>
        </div>
        <div>
            <p>{{localize 'DG.About.Copyright'}}</p>
            <p>{{{localize 'DG.About.License'}}}</p>
        </div>
    </div>
</div>
