<div class="tab bonds {{tabs.bonds.cssClass}}"
     data-group="primary"
     data-tab="bonds">
    <div class="horizontal-bar-section-divider">
        <span>{{localize "DG.Sheet.BlockHeaders.BondsRelationshipsContacts"}}</span>
    </div>

    <div>
        <ol class="items-list">
            <li class="item flexrow item-header">

                <div class="item-bond-damage">
                    <a data-action="clearBondDamage"
                       title="{{localizeWithFallback 'DG.Generic.ClearAll' 'Clear All'}}"><i class="fas fa-arrow-rotate-left"></i></a>
                </div>
                <div class="item-image"></div>
                <div class="item-name">{{localize 'DG.Bonds.Name'}}</div>
                <div class="item-name">{{localize 'DG.Bonds.Relationship'}}</div>
                <div class="item-name">{{localize 'DG.Bonds.Score'}}</div>
                <div class="item-controls">
                    <a class="item-control action-pill"
                       data-action="itemAction"
                       data-action-type="create"
                       data-item-type="bond"
                       title="Create item">
                        <i class="fas fa-plus"></i>
                        {{localize 'DG.Generic.AddButtonLabel'}}
                    </a>
                </div>
            </li>

            {{#each actor.items as |item id| }}
                {{#if_eq item.type "bond" }}

                    <li class="item flexrow" data-item-id="{{item.id}}">
                        <input class="item-bond-damage"
                               type="checkbox"
                               data-action="toggle"
                               data-prop="system.hasBeenDamagedSinceLastHomeScene"
                               title="Check if bond has been damaged since last home scene."
                               {{checked item.system.hasBeenDamagedSinceLastHomeScene}} />
                        <div class="item-image">
                            <img src="{{item.img}}" title="{{item.name}}" width="24" height="24" />
                        </div>
                        <span class="item-name">{{item.name}}</span>
                        <span>{{item.system.relationship}}</span>
                        <span>{{item.system.score}}</span>
                        <div class="item-controls">
                            <a class="item-control"
                               data-action="itemAction"
                               data-action-type="edit"
                               title="Edit Item">
                                <i class="fas fa-edit"></i>
                            </a>
                            <a class="item-control"
                               data-action="itemAction"
                               data-action-type="delete"
                               title="Delete Item">
                                <i class="fas fa-trash"></i>
                            </a>
                        </div>
                    </li>

                {{/if_eq}}
            {{/each}}
        </ol>

        <div>
            <span>{{localizeWithFallback "DG.Generic.CheckDamagedBondsBoxUntilNextHomeScene" "Check a damaged Bond's box until the next Home scene ends." }}</span>
        </div>

    </div>
</div>
