<div class="tab skills {{tabs.skills.cssClass}}"
     data-group="primary"
     data-tab="skills">
    <div class="horizontal-bar-section-divider skills-header">
        <span class="skills-header-title">{{localize "DG.Sheet.BlockHeaders.SkillsAndTraining"}}</span>
        {{#if (ne actor.type "agent") }}
            {{!-- Checkbox to hide/show skills that are at zero --}}
            <a class="toggle-untrained"
               data-action="toggle"
               data-prop="system.showUntrainedSkills">
                {{localize (concat 'DG.UnnaturalSheet.' (ifThen actor.system.showUntrainedSkills 'Show' 'Hide') 'UntrainedSkillsLabel')}}
                {{!-- djlint:off --}}
                <i class="far fa-eye{{#if actor.system.showUntrainedSkills }}-slash{{/if }}"></i>
                {{!-- djlint:on --}}
            </a>
        {{/if}}
    </div>

    <div class="grid grid-3col">
        {{#each actor.system.sortedSkills as |skill key| }}
            <div class="flexrow flex-group-left flex-thin-border">
                <label class="{{if_gt skill.targetProficiency 0 'rollable' 'not-rollable'}} skill-label"
                       data-action="roll"
                       data-key="{{skill.key}}"
                       data-rolltype="skill"
                       for="system.skills.{{skill.key}}.value"
                       data-tooltip="{{ skill.tooltip }}">
                    {{localizeWithFallback (concat "DG.Skills." skill.key) skill.label }}
                    <i class="fas fa-dice"></i>
                </label>

                <input class="percentile-skill-input  {{!-- This use of helpers is a bit hacky and should be consolidated in _prepareContext --}}
                              {{#if (and (ne skill.proficiency skill.targetProficiency) (eq ../actor.type "agent")) }}
                                  target-proficiency-mod{{/if }}"
                       type="text"
                       name="system.skills.{{skill.key }}.proficiency"
                       value="{{skill.proficiency }}"
                       data-dtype="Number"
                       {{disabled skill.isCalculatedValue }} />
                {{#if (eq ../actor.type "agent") }}
                    <input class="checkbox-skill-input"
                           type="checkbox"
                           name="system.skills.{{skill.key}}.failure"
                           data-tooltip="{{localize 'DG.Tooltip.SkillFailCheckbox' }}"
                           {{checked skill.failure}}
                           {{disabled skill.cannotBeImprovedByFailure }} />
                {{/if}}
            </div>
        {{/each}}
    </div>

    {{!-- Custom Skills and Special Training --}}
    <div>{{> "systems/deltagreen/templates/actor/partials/custom-skills-partial.html" }}</div>

    {{#if showNotesInSkills }}
        {{> "systems/deltagreen/templates/actor/partials/notes-partial.html"}}
    {{/if}}
</div>
