@mixin state-button-color($color) {
  &:disabled {
    --dui-button-text-color: #{$color};
    color: $color;
  }
  --dui-button-text-color: #{$color};
  color: $color;
}

$states: "suspect", "pinned", "excluded", "active", "inactive", "exonerated", "exoneratedButActive", "culprit";

body {
  .find-the-culprit-app.application {
    --ftc-button-gap: 0.25rem;
    --ftc-app-gap: 0.25rem;

    --ftc-state-pinned-color: var(--color-level-warning);
    --ftc-state-excluded-color: var(--color-level-error);
    --ftc-state-culprit-color: var(--color-level-error);
    --ftc-state-suspect-color: var(--color-level-info);
    --ftc-state-active-color: var(--color-level-info);
    --ftc-state-exonerated-color: var(--color-level-success);
    --ftc-state-exoneratedButActive-color: var(--color-level-success);
    --ftc-state-inactive-color: var(--color-light-5);

    --ftc-module-list-border-color: var(--color-light-4);
    --ftc-module-list-li-separator-color: var(--color-dark-5);
    --ftc-state-button-text-shadow: 0px 0px 3px var(--color-text-primary), 0px 0px 3px var(--color-text-primary);
    --ftc-tr-border: none;
    --ftc-table-header-button-color: var(--color-light-1);
  }

  &.theme-light:not(.pathfinderui-v3) .find-the-culprit-app.application:not([data-color-scheme]) {
    --ftc-module-list-border-color: var(--color-dark-5);
    --ftc-tr-border: 1px solid var(--color-text-primary);
  }

  &.theme-dark:not(.pathfinderui-v3) .find-the-culprit-app.application:not([data-color-scheme]) {
    --ftc-state-button-text-shadow: none;
  }

  .find-the-culprit-app.application[data-color-scheme] {
    --ftc-module-list-border-color: var(--window-app-border-color);
    button:disabled {
      &:not(.display-only) {
        background-color: rgba(0, 0, 0, 0.2);
      }
      box-shadow: none;
      border: none;
    }
    fieldset {
      --fieldset-border-color: var(--window-app-border-color);
      --fieldset-background-color: transparent;
      --fieldset-legend-color: var(--color-text-primary);
    }
    &[data-theme^="discord"] {
      --ftc-tr-border: 1px solid var(--window-app-border-color);
    }
  }

  .find-the-culprit-app.application[data-color-scheme="light"] {
    --ftc-table-header-button-color: var(--color-text-dark-primary);
    &[data-theme="crb"] {
      --ftc-module-list-border-color: var(--color-light-5);
      --ftc-app-gap: 0.5rem;
      --ftc-button-gap: 0.5rem;

      .ftc-module-list li {
        padding-top: 0.35rem;
        margin-bottom: 0.35rem;
      }
    }
    &[data-theme="discord-light"] {
      //TODO: should be fixed on dorako's end eventually
      &,
      h2 {
        color: var(--color-text-dark-primary);
      }
      fieldset {
        --fieldset-legend-color: var(--color-text-dark-primary);
      }
    }
    &[data-theme="dnd5e2"] {
      --ftc-tr-border: 1px solid var(--window-app-border-color);
    }
  }

  .find-the-culprit-app.application[data-color-scheme="dark"] {
    --ftc-state-button-text-shadow: none;
    &[data-theme="crb"] {
      --ftc-button-gap: 0.35rem;
      --ftc-app-gap: 0.35rem;
    }
  }

  &.pathfinderui-v3 .find-the-culprit-app.application {
    --ftc-state-button-text-shadow: none;
    button.ftc-state-button {
      &.display-only {
        box-shadow: none;
        border: none;
      }
      &:not(.display-only):disabled {
        background-color: color-mix(in srgb, var(--color-warm-3), black 40%);
      }
    }
  }
}

:is(div, dialog).find-the-culprit-app.application {
  gap: 0;

  div.specificity {
    display: contents;
  }

  .dialog-content,
  .window-content,
  .dialog-form {
    gap: var(--ftc-app-gap); // eliminate infuriating whitespace
  }
  .dialog-content {
    max-height: 60vh;
    overflow-y: auto;
  }

  .window-content {
    padding: 0.5rem 0.75rem;
    &.ftc-main {
      padding-top: 0.25rem;
    }
    p {
      // &.vpadded {
      padding: 0.25rem;
      // }
      margin: 0;
    }

    div.button-row,
    footer.form-footer {
      display: flex;
      flex-flow: row wrap;
      gap: var(--ftc-button-gap);
      justify-content: space-between;
    }

    footer.form-footer {
      button {
        height: calc(1.25 * var(--input-height));
      }
    }
  }
  table {
    td {
      &:first-child {
        width: 10rem;
      }
      ul {
        margin: 0;
      }
    }
  }
  fieldset {
    gap: 0.25rem;
    padding: 0.5rem;

    table {
      margin: 0;
      padding: 0.25rem 0.5rem;
      tr {
        border-bottom: var(--ftc-tr-border);
      }
      th:first-child {
        width: 40%;
        div.copy-button-wrapper {
          display: flex;
          flex-direction: column;
          align-items: center;
          float: right;
          height: 100%;
          button.ftc-copy-button {
            color: var(--ftc-table-header-button-color);
            box-shadow: none;
            font-size: 0.5rem;
            height: 1rem;
          }
        }
      }
      td {
        &:first-child {
          width: 40%;
        }
        ul {
          max-height: 9rem;
          overflow-y: auto;
          list-style-type: none;
          margin: 0;
          padding: 0;
        }
      }
    }
    &.module-states {
      display: grid;
      grid-template-columns: 50% 50%;
      grid-template-rows: repeat(4, auto);
      div {
        display: grid;
        grid-template-columns: 1.5rem auto;
        column-gap: 0.25rem;
        align-items: center;
      }
    }
  }

  ul.instructions {
    // override foundry default of 1rem 0;
    margin: 0.25rem 0;
  }

  button {
    min-width: fit-content;
    flex: 1 1 fit-content;
    &:not(:has(span)) {
      // icon-only buttons
      aspect-ratio: 1/1;
      flex-grow: 0;
      i {
        margin-right: 0;
      }
    }

    &.minimal {
      flex-grow: 0;
    }

    &.ftc-state-button {
      height: 1.75rem;
      width: fit-content;
      position: relative;
      text-shadow: var(--ftc-state-button-text-shadow);

      &.display-only {
        background: none;
        height: 1.5rem;
      }

      .corner-icon {
        color: var(--ftc-state-pinned-color);
        position: absolute;
        top: 0.15rem;
        right: 0.15rem;
        font-size: 50%;
      }
      @each $state in $states {
        &[data-ftc-state="#{$state}"] {
          @include state-button-color(var(--ftc-state-#{$state}-color));
        }
      }
    }
  }

  span.ftc-prompt {
    display: block;
    width: 100%;
    text-align: center;
    font-size: 140%;
    padding: 0.5rem;
  }

  .ftc-module-list {
    margin: 0;
    background: rgba(0, 0, 0, 0.05);
    border: 1px solid var(--ftc-module-list-border-color);
    border-radius: 0.3rem;
    padding: 0.5rem;
    max-height: 25vh;
    overflow-x: hidden;
    overflow-y: scroll;
    list-style-type: none;
    li {
      padding-top: 0.25rem;
      display: flex;
      flex-direction: row;
      column-gap: 0.25rem;
      align-items: center;
      border-top: 1px dashed var(--ftc-module-list-li-separator-color);

      &:nth-child(1 of :not(.hidden)) {
        // topmost li that isn't hidden by the SearchFilter
        padding-top: 0;
        border-top: none;
      }

      &:has([data-ftc-state="culprit"]) label {
        border-bottom: 1px dashed var(--color-level-error);
      }
    }
  }

  h2 {
    border-bottom: none;
    text-shadow: none;
    font-family: var(--font-primary);
    color: var(--color-text-primary);
    text-align: center;
    margin: 0;
    &.error-heading i {
      margin-right: 0.25rem;
      color: var(--color-level-error);
    }
  }
}

aside#tooltip.ftc-module-tooltip {
  div {
    margin-top: 0.5rem;
  }
  text-align: left;
}
