<div class="item-controls skill-util-buttons">
    <a class="item-control typed-skill-add action-pill"
       data-action="typedSkillAction"
       data-action-type="create">
        <i class="fas fa-plus"></i>
        {{localize 'DG.Skills.AddTypedOrCustomSkill'}}
    </a>

    <a class="item-control action-pill"
       data-action="specialTrainingAction"
       data-action-type="create">
        <i class="fas fa-plus"></i>
        {{localize 'DG.SpecialTraining.Dialog.CreateSpecialTraining'}}
    </a>
    {{#if_eq actor.type "agent" }}
        <a class="item-control action-pill" data-action="applySkillImprovements">
            {{localize 'DG.Skills.ApplySkillImprovements.Title'}}
            <i class="fas fa-dice"></i>
        </a>
    {{/if_eq}}
</div>
<div class="grid-2col">

    {{#each actor.system.sortedCustomSkills as |skill| }}
        {{#if_eq type "typeSkill" }}

            <div class="item flexrow flex-group-left flex-thin-border">
                <div class="flexrow">
                    <label {{#unless (eq ../../skillTooltipDisplay "never") }}
                           data-tooltip="{{localize (concat 'DG.TypeSkills.Tooltip.' skill.group)}}"
                           {{/unless }}>
                        {{localize (concat 'DG.TypeSkills.' skill.group)}} ({{skill.label }})
                    </label>
                    <label class="{{if_gt skill.proficiency 0 'rollable' 'not-rollable'}} skill-label"
                           data-action="roll"
                           data-key="{{skill.key}}"
                           data-rolltype="skill"
                           data-roll="d100"
                           data-target="{{skill.proficiency}}"
                           data-label="{{skill.label}}"
                           {{#unless (eq ../../skillTooltipDisplay "never") }}
                           {{#if skill.proficiency }}
                           data-tooltip="{{localize 'DG.Tooltip.SkillLabel' }}"
                           {{/if }}
                           {{#unless skill.proficiency }}
                           data-tooltip="{{localize 'DG.Tooltip.CannotRollSkillLabel' }}"
                           {{/unless }}
                           {{/unless }}>
                        <i class="fas fa-dice"></i>
                    </label>
                    <input class="percentile-skill-input"
                           type="text"
                           name="system.typedSkills.{{skill.key}}.proficiency"
                           value="{{skill.proficiency}}"
                           data-dtype="Number" />
                    {{#if_eq skill.actorType "agent" }}
                        <input class="checkbox-skill-input"
                               type="checkbox"
                               name="system.typedSkills.{{skill.key}}.failure"
                               {{checked skill.failure}}
                               data-dtype="Boolean"
                               {{#if skill.cannotBeImprovedByFailure }}
                               disabled
                               {{/if }} />
                    {{/if_eq}}
                </div>
                <div class="item-controls skill-and-training-controls">
                    <a class="item-control"
                       data-action="typedSkillAction"
                       data-action-type="edit"
                       data-typedskill="{{skill.key}}"
                       {{#unless (eq ../../skillTooltipDisplay "never") }}
                       title="Edit Skill"
                       {{/unless }}>
                        <i class="fas fa-edit"></i>
                    </a>
                    <a class="item-control"
                       data-action="typedSkillAction"
                       data-action-type="delete"
                       data-typedskill="{{skill.key}}"
                       {{#unless (eq ../../skillTooltipDisplay "never") }}
                       title="Delete Skill"
                       {{/unless }}>
                        <i class="fas fa-trash"></i>
                    </a>
                </div>
            </div>

        {{/if_eq}}

        {{#if_eq type "training" }}

            <div class="item flexrow flex-group-left flex-thin-border special-training-box">
                <div class="flexrow">
                    {{#if_not_eq (localize (concat 'DG.Attributes.' skill.key)) (concat "DG.Attributes." skill.key) }}
                        <label {{#unless (eq ../../skillTooltipDisplay "never") }}
                               data-tooltip="{{localize (concat 'DG.Attributes.Tooltip.' skill.key)}}"
                               {{/unless }}>
                            {{skill.name}} ({{localize (concat 'DG.Attributes.' skill.key)}}, {{skill.targetNumber}}%)
                        </label>
                    {{else}}
                        {{#if_not_eq (localize (concat 'DG.Skills.' skill.key)) (concat "DG.Skills." skill.key) }}
                            <label {{#unless (eq ../../skillTooltipDisplay "never") }}
                                   data-tooltip="{{localize (concat 'DG.Skills.Tooltip.' skill.key)}}"
                                   {{/unless }}>
                                {{skill.name}} ({{localize (concat 'DG.Skills.' skill.key)}}, {{skill.targetNumber}}%)
                            </label>
                        {{else}}
                            <label>{{skill.name}} ({{skill.attribute}}, {{skill.targetNumber}}%)</label>
                        {{/if_not_eq}}
                    {{/if_not_eq}}
                    <label class="{{if_gt skill.targetNumber 0 'rollable' 'not-rollable'}}"
                           data-action="roll"
                           data-key="{{skill.key}}"
                           data-name="{{skill.name}}"
                           data-rolltype="special-training">
                        <i class="fas fa-dice"></i>
                    </label>
                    <div class="item-controls skill-and-training-controls">
                        <a class="item-control"
                           data-action="specialTrainingAction"
                           data-action-type="edit"
                           data-id="{{skill.id}}"
                           {{#unless (eq ../../skillTooltipDisplay "never") }}
                           title="Edit Training"
                           {{/unless }}><i class="fas fa-edit"></i></a>
                        <a class="item-control"
                           data-action="specialTrainingAction"
                           data-action-type="delete"
                           {{#unless (eq ../../skillTooltipDisplay "never") }}
                           title="Delete Training"
                           {{/unless }}
                           data-id="{{skill.id}}"><i class="fas fa-trash"></i></a>
                    </div>
                </div>
            </div>

        {{/if_eq}}

    {{/each}}
</div>
