<div class="resource-outer-grid-1col">
    <label for="actor.system.health.value"
           class="resource-label"
           data-tooltip="{{localize 'DG.Attributes.Tooltip.HP'}}">
        {{localize 'DG.Attributes.HP' }} (<span>{{actor.system.health.protection}} <i class="fas fa-shield-alt"></i></span>)
    </label>
    <div class="resource-inner-grid-3col">
        <input class="centered"
               type="text"
               name="system.health.value"
               value="{{actor.system.health.value}}"
               data-dtype="Number" />
        <span>/</span>
        {{#if (ne actor.type "unnatural") }}
            <div class="max-resource-value"
                 data-tooltip="{{localize 'DG.Tooltip.MaximumHP'}}">
                <div>{{numberFormat actor.system.health.max decimals=0 sign=false}}</div>
            </div>
        {{else}}
            <input class="centered"
                   type="text"
                   name="system.health.max"
                   value="{{actor.system.health.max}}"
                   data-dtype="Number"
                   data-tooltip="{{localize 'DG.Tooltip.MaximumHP'}}" />
        {{/if}}
    </div>
</div>
