<input class="centered"
       type="text"
       name="system.sanity.value"
       value="{{actor.system.sanity.value}}"
       data-dtype="Number"
       data-tooltip="{{localize 'DG.Tooltip.CurrentSanityPartOne'}}{{actor.system.sanity.currentBreakingPoint}}{{localize 'DG.Tooltip.CurrentSanityPartTwo'}}" />
<span>{{localize 'DG.NPCSheet.BreakPointAbbreviation'}}:</span>
<input class="centered"
       type="text"
       name="system.sanity.currentBreakingPoint"
       value="{{actor.system.sanity.currentBreakingPoint}}"
       data-dtype="Number"
       data-tooltip="{{localize 'DG.Tooltip.BreakPoint'}}" />
