
.newRoundBanner{  
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-name: newRoundIn;
  background-blend-mode: hard-light;
  background-color: var(--ADA_COMBATBANNER_colorTransparent);
  block-size: fit-content;
  border-bottom-style: solid;
  border-bottom-width: 0px;
  border-bottom: var(--ADA_COMBATBANNER_color);
  color: lightgray;
  font-family: Orbitron, Consolas, sans-serif;
  font-size: 5em;
  font-weight: bold;   
  /* margin-bottom: auto;  */
  /* margin-left: auto; */
  /* margin-right: auto; */
  left:0;
  overflow: hidden;
  position: absolute;
  text-align: center; 
  text-overflow: clip;
  text-shadow: 3px 3px 6px black;
  transition: 6s;
  vertical-align: middle;
  white-space: nowrap;
  width: 100%;
}

.newRoundBanner.removing{
  opacity: 1;

  animation-name: newRoundOut;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  /* animation-timing-function:ease-out; */
  
}


@keyframes newRoundOut{
  from {
    opacity: 1;
    left:0;
  }
  30% {
    left:0;
  }
  80% {
    opacity: 0;
  }
  to {
    opacity: 0;
    left:100%;
  }
}

@keyframes newRoundIn{
  from {
    opacity: 0;
    width:0%;
  }
  30% {
    opacity: 0;
  }
  80% {
    width:100%;
  }
  to {
    opacity: 1;
    width:100%;
  }
}
