<div class="basic-chat-card">
    <header>
        <img src="{{item.img}}"/>
        <h4>{{item.name}}</h4>
    </header>
    <div class="card-content">
        {{{enrichedDescription}}}
    </div>
</div>
