<form class="{{cssClass}} {{getCharacterSheetStyle}}" autocomplete="off">
    <header class="">
        <div class="armor-sheet-grid-2col">
            <img class="item-img" src="{{item.img}}" data-edit="img" title="{{item.name}}"/>
            <div class="armor-sheet-horizontal-grid-2col">
                <span class="resource-label">Name:</span>
                <input name="name" type="text" value="{{item.name}}"/></h1>
            </div>
        </div>
    </header>

    {{!-- Sheet Tab Navigation --}}
    <nav class="sheet-tabs tabs" data-group="primary">
        <a class="item" data-tab="description">Description</a>
        <a class="item" data-tab="rules">Rules</a>
    </nav>

    {{!-- Sheet Body --}}
    <section class="sheet-body">

        {{!-- Description Tab --}}
        <div class="tab top-div-border" data-group="primary" data-tab="description">
            {{editor enrichedDescription target="system.description" engine="prosemirror" button=true owner=owner editable=editable}}
        </div>

        {{!-- Rules Tab --}}
        <div class="tab top-div-border" data-group="primary" data-tab="rules">
            <textarea name="system.rules" spellcheck="false" style="width: 100%">{{json item.system.rules}}</textarea>
        </div>
    </section>
</form>
