<div class="bio-grid-2col">
    <span>Profession</span>
    <select id="select-profession" name="profession" data-type="String">
        {{selectOptions professions selected=actorData.profession localize=true}}
    </select>
</div>