/*
 * Author: Jean-Baptiste Louvet-Daniel
 *
 * This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at https://mozilla.org/MPL/2.0/.
 */

.custom-system-attribute-name {
    width: 100px;
}

.custom-system-attribute-bar meter {
    width: 100%;
}

.theme-dark .custom-system-list-dialog header.table-header {
    background-color: var(--color-cool-4);
    border-color: var(--color-cool-4);
}

.custom-system-list-dialog header.table-header {
    background: var(--table-header-bg-color);
    padding: 0.5rem;
    color: var(--table-header-text-color);
    text-align: center;
    font-weight: bold;
}

.custom-system-list-dialog ul {
    list-style: none;
    margin: 0;
    padding: 0;
    max-height: 400px;
    overflow: hidden auto;

    li.form-group {
        margin-top: 8px;
    }
}

.custom-system-list-dialog span.custom-system-dialog-actions {
    flex-shrink: 1;
    flex-grow: 0;
}

.custom-system-list-dialog .window-content {
    overflow: auto;
}
