/*
 * Author: Jean-Baptiste Louvet-Daniel
 *
 * This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at https://mozilla.org/MPL/2.0/.
 */

.custom-system-form-field {
    margin: 8px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 8px;
}

.custom-system-fieldset {
    gap: 0;
    margin: 0.5rem 0;
}

.custom-system-form-field textarea {
    flex: 1;
    width: -moz-available;
}

.custom-system-form-field button {
    min-width: 2em;
}

.custom-system-form-field.custom-system-form-field-multiline,
.custom-system-form-field-label.custom-system-form-field-multiline {
    flex-direction: column;
}

.custom-system-form-field-label {
    margin: 0px;
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: flex-start;
    gap: 0px;
    flex-shrink: 0;
}

.custom-system-form-field label {
    flex-shrink: 0;
}

.custom-system-field-title {
    width: 100%;
    text-align: center;
    font-size: 16px;
}

.custom-system-rich-text-toggle {
    margin: 0px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 0px;
    flex-shrink: 0;
}

.custom-system-component-editor {
    display: none;
}

.custom-system-component-editor .custom-system-dialog-editor {
    height: 20em;
}

.CSB-itemProperty {
    border: 1px solid grey;
    border-radius: 5px;
}
.custom-system-key-warning {
    display: none;
    margin-top: 8px;
}

.custom-system-collapsible-block {
    padding: 8px;
}

.custom-system-collapsible-block-hide {
    display: none;
}

.custom-system-formula-icon {
    margin-bottom: 1px;
    color: Dodgerblue;
}

.custom-system-info-icon {
    margin-bottom: 1px;
}

.custom-system-form-group {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: start;
}

.custom-system-form-group-outer {
    border: 1px solid var(--color-border);
    border-radius: 5px;
    padding-left: 3px;
    margin-bottom: 3px;
}

.custom-system-string-tags-field {
    display: flex;
    align-items: end;
    justify-content: space-between;
    flex-flow: row;
    gap: 8px;
    flex-grow: 1;

    string-tags {
        flex-grow: 1;

        button {
            flex: 0 0 36px;
            line-height: var(--form-field-height);
            background: rgba(0, 0, 0, 0.1);
            border: 2px groove var(--color-border-light-highlight);

            :hover {
                outline: none;
                box-shadow: 0 0 5px var(--color-shadow-primary);
            }
        }
    }
}

prose-mirror .editor-container {
    min-height: 100px;
}

.custom-system-componentSettings {
    prose-mirror {
        width: 100%;
    }
}

.theme-dark {
    .custom-system-info-icon {
        color: var(--color-dark-3);
    }
}
